---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4680'
      X-Ratelimit-Reset:
      - '1544808550'
      Etag:
      - W/"8af6d317dbc701dcd5df5488618f1406"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?per_page=5&page=2>; rel="next", <https://api.github.com/user/repos?per_page=5&page=11>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":152138197,"node_id":"MDEwOlJlcG9zaXRvcnkxNTIxMzgxOTc=","name":"battleshift","full_name":"Autumn-Martin/battleshift","private":false,"owner":{"login":"Autumn-Martin","id":36902512,"node_id":"MDQ6VXNlcjM2OTAyNTEy","avatar_url":"https://avatars2.githubusercontent.com/u/36902512?v=4","gravatar_id":"","url":"https://api.github.com/users/Autumn-Martin","html_url":"https://github.com/Autumn-Martin","followers_url":"https://api.github.com/users/Autumn-Martin/followers","following_url":"https://api.github.com/users/Autumn-Martin/following{/other_user}","gists_url":"https://api.github.com/users/Autumn-Martin/gists{/gist_id}","starred_url":"https://api.github.com/users/Autumn-Martin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Autumn-Martin/subscriptions","organizations_url":"https://api.github.com/users/Autumn-Martin/orgs","repos_url":"https://api.github.com/users/Autumn-Martin/repos","events_url":"https://api.github.com/users/Autumn-Martin/events{/privacy}","received_events_url":"https://api.github.com/users/Autumn-Martin/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Autumn-Martin/battleshift","description":null,"fork":true,"url":"https://api.github.com/repos/Autumn-Martin/battleshift","forks_url":"https://api.github.com/repos/Autumn-Martin/battleshift/forks","keys_url":"https://api.github.com/repos/Autumn-Martin/battleshift/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Autumn-Martin/battleshift/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Autumn-Martin/battleshift/teams","hooks_url":"https://api.github.com/repos/Autumn-Martin/battleshift/hooks","issue_events_url":"https://api.github.com/repos/Autumn-Martin/battleshift/issues/events{/number}","events_url":"https://api.github.com/repos/Autumn-Martin/battleshift/events","assignees_url":"https://api.github.com/repos/Autumn-Martin/battleshift/assignees{/user}","branches_url":"https://api.github.com/repos/Autumn-Martin/battleshift/branches{/branch}","tags_url":"https://api.github.com/repos/Autumn-Martin/battleshift/tags","blobs_url":"https://api.github.com/repos/Autumn-Martin/battleshift/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Autumn-Martin/battleshift/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Autumn-Martin/battleshift/git/refs{/sha}","trees_url":"https://api.github.com/repos/Autumn-Martin/battleshift/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Autumn-Martin/battleshift/statuses/{sha}","languages_url":"https://api.github.com/repos/Autumn-Martin/battleshift/languages","stargazers_url":"https://api.github.com/repos/Autumn-Martin/battleshift/stargazers","contributors_url":"https://api.github.com/repos/Autumn-Martin/battleshift/contributors","subscribers_url":"https://api.github.com/repos/Autumn-Martin/battleshift/subscribers","subscription_url":"https://api.github.com/repos/Autumn-Martin/battleshift/subscription","commits_url":"https://api.github.com/repos/Autumn-Martin/battleshift/commits{/sha}","git_commits_url":"https://api.github.com/repos/Autumn-Martin/battleshift/git/commits{/sha}","comments_url":"https://api.github.com/repos/Autumn-Martin/battleshift/comments{/number}","issue_comment_url":"https://api.github.com/repos/Autumn-Martin/battleshift/issues/comments{/number}","contents_url":"https://api.github.com/repos/Autumn-Martin/battleshift/contents/{+path}","compare_url":"https://api.github.com/repos/Autumn-Martin/battleshift/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Autumn-Martin/battleshift/merges","archive_url":"https://api.github.com/repos/Autumn-Martin/battleshift/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Autumn-Martin/battleshift/downloads","issues_url":"https://api.github.com/repos/Autumn-Martin/battleshift/issues{/number}","pulls_url":"https://api.github.com/repos/Autumn-Martin/battleshift/pulls{/number}","milestones_url":"https://api.github.com/repos/Autumn-Martin/battleshift/milestones{/number}","notifications_url":"https://api.github.com/repos/Autumn-Martin/battleshift/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Autumn-Martin/battleshift/labels{/name}","releases_url":"https://api.github.com/repos/Autumn-Martin/battleshift/releases{/id}","deployments_url":"https://api.github.com/repos/Autumn-Martin/battleshift/deployments","created_at":"2018-10-08T19:56:40Z","updated_at":"2018-10-22T13:18:05Z","pushed_at":"2018-10-22T13:18:03Z","git_url":"git://github.com/Autumn-Martin/battleshift.git","ssh_url":"git@github.com:Autumn-Martin/battleshift.git","clone_url":"https://github.com/Autumn-Martin/battleshift.git","svn_url":"https://github.com/Autumn-Martin/battleshift","homepage":null,"size":182,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":3,"license":null,"forks":0,"open_issues":3,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":147757632,"node_id":"MDEwOlJlcG9zaXRvcnkxNDc3NTc2MzI=","name":"bike_share","full_name":"bghalami/bike_share","private":false,"owner":{"login":"bghalami","id":32526943,"node_id":"MDQ6VXNlcjMyNTI2OTQz","avatar_url":"https://avatars1.githubusercontent.com/u/32526943?v=4","gravatar_id":"","url":"https://api.github.com/users/bghalami","html_url":"https://github.com/bghalami","followers_url":"https://api.github.com/users/bghalami/followers","following_url":"https://api.github.com/users/bg[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4679'
      X-Ratelimit-Reset:
      - '1544808550'
      Etag:
      - W[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4678'
      X-Ratelimit-Reset:
      - '1544808550'
      Etag:
      - W[...]
